{"filter":false,"title":"HR_sorter.template","tooltip":"~/work/assignment1/ex22/HR_sorter.template","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":12,"column":9},"end":{"row":12,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1475991681616,"hash":"3fff85d3cd536d073f4adb9b944fd96e62293eb5"}